body{
    font-family: "Open Sans Condensed";
    /* background-color: #000c24; */
    padding: 20px 60px;
}
a{
    text-decoration: none;
    color: #000000;
}

 /* h2 {
    color: #fff;
}
p{
    color: #fff;
}  */

*{
    box-sizing: border-box;
}